<a href="https://colab.research.google.com/github/larimscorrea/jd-introduction-python/blob/main/fourth_step.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **PANDA**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

In [ ]:
#Carregando arquivo (lendo)
#pd.read_csv('/content/drive/MyDrive/Bases de Dados/product.csv')
#pd.read_csv('/content/drive/MyDrive/Bases de Dados/product.csv',error_bad_lines=False)
#pd.read_csv('/content/drive/MyDrive/Bases de Dados/product.csv',error_bad_lines=False, delimiter=';' )

#Carregando em DataFrame
df = pd.read_csv('/content/drive/MyDrive/Bases de Dados/product.csv',delimiter =';')

## **ANÁLISE EXPLORATÓRIA DOS DADOS**

In [ ]:
#Visualizar o meu dataframe
display(df)

NameError: ignored

In [ ]:
#Ver as primeiras linhas do DataFrame
df.head()

NameError: ignored

In [ ]:
#Ver as últimas linhas do df
df.tail()

NameError: ignored

In [ ]:
#Trazer as informações sobre a base
df.info()

NameError: ignored

In [ ]:
#Trazer informações estatísticas sobre o meu df
df.describe()
#count	: contagem
#mean	: média
#std	: desvio padrão
#min	: mínimo
#25%	: 1° quartil
#50%	: 2° quartil ou mediana
#75%	: 3° quartil
#max	: máximo ou 4° quartil

NameError: ignored

In [ ]:
#Trazer informações estatísticas da váriáceis quantitativas sobre o meu df
df.describe(include='O')
#count	: contagem
#unique : dados não repetidos
#top : valor que mais se repete
#freq : frequência que o valor aparece

NameError: ignored

## **RENOMEANDO COLUNAS**

In [ ]:
#Visualizando nome das colunas
df.columns

NameError: ignored

In [ ]:
# 1° forma de renomear colunas
df.rename({'product_id':'Id_Product'},axis=1,inplace=True)

NameError: ignored

In [ ]:
df.columns

In [ ]:
# 2° forma de renomear colunas
df.rename(columns={'product_name':'Product'},inplace=True)

## **SELECIONANDO COLUNAS ESPECÍFICAS**

In [ ]:
df['Product'].head()

In [ ]:
#Selecionando apenas 1 colunas
df['price'].tail()

In [ ]:
#Criando um novo df a partir de uma coluna específica
df_1 = df['price']
df_1.head()

In [ ]:
#Selecionando várias colunas
df[['category','price']].head()

## **FUNÇÕES MATEMÁTICAS**

In [ ]:
#Soma
df['price'].sum()

NameError: ignored

In [ ]:
#Média
df['price'].mean()

In [ ]:
#Mediana
df['price'].median()

In [ ]:
#Desvio padrão
df['price'].std()

In [ ]:
#Contagem
df['price'].count

In [ ]:
#Moda
df['price'].mode

In [ ]:
#Máximo
df['price'].max()

In [ ]:
#Mínimo
df['price'].min()

In [ ]:
#Índice do valor máximo
df['price'].idxmax()

In [ ]:
#Índice do valor mínimo
df['price'].idxmin()

In [ ]:
df['lucro'] = df['price']*0.3

In [ ]:
df.head()

In [ ]:
df['lucro'].sum()

## **SELECIONANDO PELO ÍNDICE - ILOC**

In [ ]:
#Em uma mesma coluna
df.iloc[100]

In [ ]:
#Em uma mesma linha
df.iloc[[100]]

In [ ]:
#Selecionado várias linhas
df.iloc[[100,1429,1118]]

In [ ]:
#Selecionado várias linhas entre índicas
df.iloc[100:105]

In [ ]:
df_new = df.iloc[2:190]

In [ ]:
df['category'].iloc[100]

In [ ]:
df[['category','sub_category','price']].iloc[[100]]

## **OPERADOR DE SELEÇÃO - LOC (FILTRO)**

In [ ]:
df.loc[df['sub_category']=='Phones']

In [ ]:
#Selecionando colunas específicas para filtrar
df[['Id_Product','category','price']].loc[df['category']=='Technology']

In [ ]:
#Utilizando vários filtros
df[['Id_Product','category','sub_category','price']]\
.loc[(df['category']=='Technology') \
     & (df['sub_category']=='Phones')]

In [ ]:
#Selecionando a partir do valor do produto
df.loc[df['price']<100]

In [ ]:
#Criando nova coluna
df.loc[df['price'] <= 100, 'Faixa'] = 'Menor que ou igual 100'
df.loc[df['price'] >= 100, 'Faixa'] = 'Maior que ou igual 100'

In [ ]:
#Observando a nova coluna
df.head()

## **GROUPBY: AGRUPAR INFORMAÇÕES**

In [ ]:
#Agrupando preço médio por categoria
df.groupby('category').mean()

In [ ]:
df.groupby('category').sum()

In [ ]:
df.groupby(['category','sub_category']).median()

In [ ]:
#Categorizando
import sys

In [ ]:
df.head(10)

NameError: ignored

In [ ]:
df.groupby(['Faixa']).count()

## **ORDENAR DADOS/SORT VALUES**

In [ ]:
#Ordenando do maior para o menor em relação ao preço
df.sort_values('price',ascending=False).head(10)

In [ ]:
#Ordenando do menor para o maior em relação ao preço
df.sort_values('price',ascending=True).head()

## **DELETANDO COLUNA**

In [ ]:
#Drop : apaga a coluna com eixo = 1
df.drop('Faixa', axis=1, inplace= True)

In [ ]:
df.head()

## **SALVANDO ARQUIVO**

In [ ]:
df.to_excel('/content/planilha.xlsx')

NameError: ignored

## **OPERAÇÕES DE TABELA**

In [ ]:
sales = pd.read_csv('/content/drive/MyDrive/Bases de Dados/sales.csv',delimiter =';')
product = pd.read_csv('/content/drive/MyDrive/Bases de Dados/product.csv',delimiter =';')

In [ ]:
sales.info()

In [ ]:
product.info()

In [ ]:
sales.head()

In [ ]:
product.head()

In [ ]:
#Método Merge : unir as bases
m = pd.merge(sales, product , on='product_id' ,  how='left')

In [ ]:
#Visualizando a dataframe
m.head()

## **CONCAT**

O método Concat faz a junção dos dataframes

In [ ]:
m[0:9]

In [ ]:
m[10:19]

In [ ]:
#Criando um dataframe com partes do anterior
m_1 = m[0:9]
m_2 = m[10:20]

In [ ]:
#Concatenando
conc = pd.concat([m_1,m_2])

In [ ]:
conc.head(20)